/* main */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1600,24,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.67rem, calc(0.70rem + -0.03vw), 0.69rem);
  --step--1: clamp(0.83rem, calc(0.79rem + 0.21vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.88rem + 0.63vw), 1.50rem);
  --step-1: clamp(1.20rem, calc(0.94rem + 1.31vw), 2.25rem);
  --step-2: clamp(1.44rem, calc(0.96rem + 2.42vw), 3.38rem);
  --step-3: clamp(1.73rem, calc(0.89rem + 4.17vw), 5.06rem);
  --step-4: clamp(2.07rem, calc(0.69rem + 6.90vw), 7.59rem);
  --step-5: clamp(2.49rem, calc(0.26rem + 11.13vw), 11.39rem);
}

@font-face{
  font-family: "Heebo";
  font-weight: 400;
  src: url('../fonts/heebo-variablefont_wght-webfont.woff2') format('woff2'),
       url('../fonts/heebo-variablefont_wght-webfont.woff') format('woff');
}

@font-face{
  font-family: "Maitree";
  font-weight: 400;
  src: url('../fonts/maitree-regular-webfont.woff2') format('woff2'),
       url('../fonts/maitree-regular-webfont.woff') format('woff');
}

@font-face{
  font-family: "Beba";
  font-weight: 400;
  src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue-regular-webfont.woff') format('woff');
}

header{
background: linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
padding: 0 1vw;
p{
  font-size: var(--step--2);
  text-align: right;
  margin-right: 1ch !important;
  padding: 0;
}
a{
  font-size: var(--step--2);
}
.container{
  display: flex;
  flex-direction: column;
}
.link-github{
  align-self: flex-end;
  text-align: right;
  min-width: 50ch;
  padding-right: 1ch;
}
}
nav{
ul {
    padding: 0.25ch;
    list-style-type: none;
    padding-bottom: 3ch;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
  }
  li {
    width: calc(100%/4);
    background-color: hsl(170, 86, 25);
    text-align: center;
    border: hsl(170, 86, 18) solid 1px;
    border-right: hsl(170, 86, 18) solid 2px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 grey;
  a{
    font-size: 0.6rem;
    color: white;
    font-size: clamp(0.6rem, calc(0.20rem + 2vw), 1rem);
    display: block;
    padding: 0.5ch 1ch;
  }
  a:hover{
    color:white;
  text-decoration: none;
  }
}
  li:hover{
  background-color: hsl(170, 86, 18);
  box-shadow: none;
  }
}

p{
  font-family: "Heebo";
  color: hsl(0,0,30);
  line-height: 2;
  font-size: var(--step-0);
  max-width: 60ch;
  margin: 0 auto !important;
  padding: 0 2vw;
}

h1{
  font-family: "Beba";
  color: hsl(0,0,15);
  text-align: center;
  letter-spacing: 0.25ch;
  font-size: var(--step-4);
  text-shadow:0px 5px 5px grey;
}

h2{
  font-family: "Maitree";
  color: hsl(190, 27%, 30%);
  padding: 0.5ch;
  font-size: var(--step-2);
  line-height: 1.2;
  margin: 0 auto !important;
  max-width: 30ch;
}

h3, h4{
  font-family: "Maitree";
  color: black;
  padding: 0.5ch;
  font-size: var(--step-0);
  text-align: center;
}

a{
  font-family: "Heebo";
  color:hsl(170, 86, 25);
  text-decoration: none;
  font-size: var(--step-0);
}

a:hover{
color: hsl(170, 86, 18);
text-decoration: underline;
}

svg{
  max-width: 10px;
  text-align: right;
  margin-right: 1ch !important;
}

.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: hsl(170, 86, 25);
  color: white;
  opacity: 0;
  text-decoration: none;
}
.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.skip-link:focus:hover{
  background-color: hsl(170, 86, 18);
  color:white;
  text-decoration: none;
}

li{
  font-family: "Heebo";
  color: hsl(0,0,30);
  font-size: var(--step--0);
  max-width: 60ch;
  margin: 0 auto;
  padding-bottom: 1ch;
}

a{
    font-size: var(--step--0);
    text-align: center;
  }

  p{
  padding-bottom: 1rem;
  }

.link-allstyles, .view-sylesheet, .link-guidelines{
  text-align: center;
display: block;
margin: 5ch;
}

#files{
  a{
    display: block;
  }
}

.modern-container, .contribute-container{
  background-image: linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
}

footer{
  background-color: hsl(170, 86, 97);;
}

.page-footer{
  display: grid;
  background-image: linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
  p, a{
    font-size: var(--step--2);
    text-align: center;
    list-style: none;
    max-width: none;
    padding-top: 2ch;
  }
  ul{font-size: var(--step--2);
    text-align: center;
    list-style: none;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    li{
      display:inline;
      width: calc(100%/4);
    }
  }
}

.profile, #styles{
  ul, h2{
    text-align: center;
    list-style: none;
  }
}
